*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
background-image: url('fondo4.jpg');
background-size: 100% 100%;
background-attachment: fixed;
}

.form-register {
    width: 450px;
    background: rgb(201, 63, 97);
    padding: 40px;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    font-family: 'calibri';
    color: whitesmoke;
    box-shadow: 7px 13px 37px #000;
    }
    
    .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;    
    }

    .controls {
        width: 100%;
        background: white;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 16px;
        border: 1px solid rgb(163, 8, 86);
        font-family:'calibri';
        font-size: 18px;
        color: black;
        }
        
    .select-css{
        display: block;
        font-size: 16px;
        font-family: 'verdana', sans-serif;
        font-weight: 400;
        color: palevioletred;
        line-height: 1,3;
        padding: .4em 1.4em .3em .8em;
        width: 400px;
        max-width: 100%; 
        box-sizing: border-box;
         margin: 20px auto;
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
        border-radius: .3em;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff;
        }

        .form-register .botons {
            width: 100%;
            background: hotpink;
            border: 12px;
            color: white;
            margin: 16px 0;
            font-size: 27px;
        }

        